body {margin:0; font-family: arial; font-size: 20px; background: rgb(105,250,250)}
header {background-color: black; color: white; top: 0; font-size: 30px; padding-top: 5px;}
.bar {width: 100%; height: 40px; overflow: hidden; text-align: center; position: fixed;}
#home { 
	margin-top: 40px;
	background: url('images/skip_rope.png') no-repeat scroll top left;
	background-size: contain;
	padding: 20px;
	overflow: hidden;
}
#control {
	width: 110px;
	height: 80px;
	background-size: contain;
	background-repeat: no-repeat;
	float:right;
	color: white;
	padding: 50px 10px;
	background-image: url('images/play.png');
	cursor: pointer;
}
#control.stop {
	background-image: url('images/stop.png');
	text-align: center;
}
#skips {
	clear: both;
	font-size: 130px;
	padding-right: 20px;
	text-align: right;
}
#form {
	clear: both;
}
#btnInstall {display: block; float: right; color: white; background: black; border: none; font-size: 20px;}