body {margin:0; font-family: arial; font-size: 20px; background: rgb(105,250,250)}
header {background-color: black; color: white; top: 0; font-size: 30px; padding-top: 5px;}
.bar {width: 100%; height: 45px; overflow: hidden; text-align: center; position: fixed;}
#home { 
	margin-top: 50px;
	background: url('images/skip_rope.png') no-repeat left top;
	background-position: 10px 0px;
	background-size: contain;
	padding: 20px;
}
#control {
	width: 110px;
	height: 27px;
	background-size: contain;
	background-repeat: no-repeat;
	float:right;
	color: white;
	padding: 55px 10px;
	background-image: url('images/play.png');
	cursor: pointer;
}
#control.stop {
	background-image: url('images/stop.png');
	text-align: center;
}
#skips {
	clear: both;
	font-size: 130px;
	padding-right: 20px;
	text-align: right;
}
#form {
	clear: both;
	font-size: 16px;
	background-color: rgba(255,255,255,0.6);
	padding: 10px;
}
#form input, #form select {
	width: 110px;
}
#form label {
	display: inline-block;
	width: 130px;
}
#btnInstall {display: block; float: right; color: white; background: black; font-size: 30px;}